@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #5d7bd5;
}
.containerGame{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left,#right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    background: #fff;
    border: 2px dashed #fff;
}
#right{
    min-height: 100px;
}
.list{
    background: #0b132b;
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}
.list img{
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
}
.pregunta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 7vb;
    color: #fff;
}