@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
body {
    background-color: #5d7bd5;
}
.container {
    background-color: #ffffff;
    padding: 3em 2em;
    width: 90%;
    max-width: 37em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}
#list {
    position: relative;
    padding-inline-start: 0;
    list-style-type: none;
}
li{
    border-radius: 10px;
    background-color: #0b132b;
    color: #ffffff;
}
ul li {
    padding: 0.8em 0;
    border-radius: 0.2em;
    margin: 1em auto;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
}
.tittle{
    margin-top: 15vh;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: #ffffff;
}
.list-item {
    padding: 0.8em 0;
    border-radius: 10px;
    margin: 1em auto;
    border: 1px solid #000000;
    text-align: center;

}
.list-item:hover {
    cursor: move;
    background-color: #5d7bd5;
    border-color: #2352de;
}
.listo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 2vb;
    color: #fff;
}
button{
    width: 15%;
    height: 50px;
    background: #0b132b;
    color: #fff;
    border: none;
    border-radius: 10px; 
    margin: 10px;
    cursor: pointer;
}