*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;	
    box-sizing: border-box;
    background-color: #f2f2f2;
}
:root{
    scroll-behavior: smooth;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99.2vw;
    height: 100vh;
}
button{
    width: 7vw;
    height: 5vh;
    font-size: 1.2rem;
    
    background-color: #00033E;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    color: rgba(red, green, blue) 0%;
    font-size: 1.2rem;
}
.arrow{
    width: 1.5vw;
    height: 2.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /*que el div sea redondo*/

    border-radius: 50%;


    
}

/* Path: css/style.css */
.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(55, 236, 185, 0.514) 0%, rgba(114, 175, 211, 0.411) 50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
ul{
    display: flex;
    align-items: center;
    margin-left: 30vw ;
    width: 30%;
}
li{
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}